source/customers/API/logicapp-customers-api.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "infra": {
      "type": "object",
      "metadata": {
        "description": "Provide the object that contain all information about common infrastructure"
      }
    },
    "releaseInfo": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Provide info about the release that deployed this resource."
      }
    },
    "deploymentDateTime": {
      "defaultValue": "[utcNow('yyyy-MMM-dd HH:mm:ss')]",
      "metadata": {
        "description": "Date and time of deployment to be inserted into tags for the Logic App resource."
      },
      "type": "string"
    },
    "serviceBusConnectionString":{
      "type": "securestring"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('infra').environment, '-', parameters('infra').project, '-customers-api-', parameters('infra').region)]",
    "logicAppResourceId": "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]",
    "infraResourceGroup": "[concat(parameters('infra').environment,'-', parameters('infra').project, '-infra-', parameters('infra').region)]",
    "logAnalyticsName": "[concat(parameters('infra').environment,'-', parameters('infra').project, '-logs-', parameters('infra').region)]",
    "logAnalyticsWorkspaceResourceId": "[resourceId(variables('infraResourceGroup'), 'microsoft.operationalinsights/workspaces', variables('logAnalyticsName'))]",
    "apiManagementServiceName": "[concat(parameters('infra').environment, '-', parameters('infra').project, '-apim-', parameters('infra').region)]",
    "keyVaultName": "[concat(parameters('infra').environment, '-', parameters('infra').project, '-kv-', parameters('infra').region)]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('logicAppName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "displayName": "Logic App for New Customers API",
        "application": "[parameters('infra').project]",
        "business": "ACME",
        "component": "LogicApp",
        "environment": "[parameters('infra').environment]",
        "location": "[resourceGroup().location]",
        "role": "workflow",
        "schedule": "none",
        "system": "[parameters('infra').project]",
        "Release": "[parameters('releaseInfo')]",
        "Release date": "[parameters('deploymentDateTime')]"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "Scope": [
                  "Succeeded"
                ]
              }
            },
            "Scope": {
              "type": "Scope",
              "actions": {
                "Send_message": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "ContentData": "@{base64(triggerBody())}",
                      "Properties": {
                        "clientTrackingId": "@{coalesce(triggerOutputs().headers?['x-my-custom-correlation-id'], guid())}"
                      }
                    },
                    "path": "/@{encodeURIComponent(encodeURIComponent('customers'))}/messages",
                    "queries": {
                      "systemProperties": "Run Details"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {}
            },
            "Error_Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 502
              },
              "runAfter": {
                "Scope": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections/', 'servicebus')]",
                "connectionName": "servicebus"
              }
            }
          }
        },
        "accessControl": {
          "triggers": {
            "allowedCallerIpAddresses": [
              {
                "addressRange": "[concat(reference(resourceId(variables('infraResourceGroup'),'Microsoft.ApiManagement/service/',variables('apiManagementServiceName')),'2019-12-01','Full').properties.publicIPAddresses[0],'/30')]"
              }
            ]
          },
          "actions": {
            "allowedCallerIpAddresses": []
          }
        }
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "[concat('/Microsoft.Insights/', variables('logicAppName'), '-logs')]",
          "apiVersion": "2017-05-01-preview",
          "tags": {
            "displayName": "Logs to OMS",
            "createdBy": "[parameters('releaseInfo')]"
          },
          "properties": {
            "workspaceId": "[variables('logAnalyticsWorkspaceResourceId')]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true
              }
            ],
            "metrics": [
              {
                "category": "AllMetrics",
                "enabled": true
              }
            ]
          },
          "dependsOn": [
            "[variables('logicAppResourceId')]"
          ]
        }
      ],
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', 'servicebus')]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "servicebus",
      "location": "[resourceGroup().location]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'servicebus')]"
        },
        "displayName": "servicebus",
        "parameterValues": {
          "connectionString": "[parameters('serviceBusConnectionString')]"
        }
      }
    }
  ]
}